

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content{
        h1{
            text-align: center;
            margin-bottom: 2rem;
        }

        p{
            text-align: center;
            max-width: 750px;
        }
    }

    .projetos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       margin: 50px;

        .card{
            
            
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            margin: 10px;
            p{
                margin-top: 20px;
            }
        }
    }

    .ajuda{

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

       a{
       
        background-color: black;
        text-align: center;
        color: white;
        padding: 10px;
        width: 250px;
        border-radius: 20px;
        margin: 30px;

       }
    }
}